* { box-sizing: border-box; }
img { 
  width: 100%;
 }

body {
  background: url(../img/abstract2.jpg);
  background-position: center;
}
h2 {
  font-family: 'Baloo', cursive;
  font-size: 48px;
  color: black;
  text-align: center;
}
.recent {
  color: black;
}
.card img {
  max-width: 200px;
  border-radius: 50%;
  margin-top: 40px;
  height: 200px;
}
.container-fluid {
  border: 1px solid black;
}
#logo {
  width: 150px;
  transition: all 0.3s ease;
}

#logo:hover {
  transform: scale(3) rotate(360deg);
}

.panel {
  opacity: 1;
  height: auto;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}

.panel-default>.panel-heading {
  background: lightslategray;
  color: black;
  padding-top: 10px;
  text-align: center;
}
.panel>.panel-body {
  background: white;
  color: black;
}
.panel>.panel-footer {
  background: #3f3f3f;
  color: black; 
}
.card {
  background-color: lightslategray;
  border: 1px solid black;
  text-align: center;
  min-height: 285px;
}
.column-img {
  max-width: 200px;
  max-width: 200px;
  border-radius: 50%;
  height: 200px;
}
.round {
  border-radius: 50%;
  max-width: 100px;
  height: 1o0px;
  margin-top: 20px;
  padding-left: 10px;
}
#list-column-text {
  padding-top:10px;
  padding-right: 20px;
}
.list-group-item {
  cursor: pointer;
}

.fade-out {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#logout {
  float: right;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#logout:hover {
  transform: scale(2) rotate(360deg);
  box-shadow: 50px 7px 0 65px white inset;
  color: rgba(0, 0, 0, 1.0);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1.0);
}
#textBox {
  float: right;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#textBox:hover {
  transform: scale(2) rotate(360deg);
  box-shadow: 50px 7px 0 65px white inset;
  color: rgba(0, 0, 0, 1.0);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1.0);
}
#envelope {
  float: right;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#envelope:hover {
  transform: scale(2) rotate(360deg);
  box-shadow: 50px 7px 0 65px white inset;
  color: rgba(0, 0, 0, 1.0);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1.0);
}
#eye {
  float: right;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#eye:hover {
  transform: scale(2) rotate(360deg);
  box-shadow: 50px 7px 0 65px white inset;
  color: rgba(0, 0, 0, 1.0);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1.0);
}


.list-group-item {
  transition: all .5s ease;
}

.list-group-item:hover {
  transform: scale(1.1);
  margin-bottom: 1px;
  background: pink;
}