* { box-sizing: border-box; }
img { width: 100%; }

body {
  background: url(../img/abstract2.jpg);
  background-position: center;
}
.row-one{
  font-family: 'Baloo', cursive;
  font-size: 48px;
  color: #008000;
  text-align: center:
}

#logo {
  width: 150px;
  transition: all 0.3s ease;
}

#logo:hover {
  transform: scale(3) rotate(360deg);
}

.panel {
  opacity: 1;
  height: auto;
  margin-bottom: 0;
  transition: all 0.5s ease;
}

.panel-default>.panel-heading {
  background: #2f5e2f;
  color: white;
}
.panel>.panel-body {
  background: #000;
  color: white;
}
.panel>.panel-footer {
  background: #3f3f3f;
  color: white; 
}

.list-group-item {
  cursor: pointer;
}

.fade-out {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#logout {
  float: right;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#logout:hover {
  transform: scale(2) rotate(360deg);
}

.list-group-item {
  transition: all .5s ease;
}

.list-group-item:hover {
  transform: scale(1.1);
  margin-bottom: 1px;
  background: pink;
}